@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F8F8F8;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
section.chat__section {
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;

    position: relative;
}

#share__btn{
    position: absolute;
    right: 2%;
    height: auto;
}

#share__btn img{
    height: 30px;
}

.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}

.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}

textarea {
    width: 90%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #FBFBFB;
    display: block;
    width: 92% !important;
    resize: vertical;
}

#input__area{
    position: relative;
}

#send__btn{
    padding: 10px 20px;
    font-size: 20px;
    position: absolute;
    right: 0px;
    bottom: 0px; 
    background-color: #8F8BE8;
    color: whitesmoke;
    border: 1px solid #787986;
}

#send__btn img{
    height: 30px;
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
    flex-direction: row;
}
.incoming {
    background: #8F8BE8;
    color: #fff;  
    border-radius: 15px;
    border-top-left-radius: 0;
}
.outgoing {
    background: #e9eafd;
    color: #787986;
    margin-left: auto;

    border-radius: 15px;
    border-top-right-radius: 0;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}

#options__menu{
    z-index: 2;
    position: absolute;
    right: 0;
    top: 5rem;
    width: auto;
    height:auto;

    color: #333;
    background-color: #e9eafd
}

.options{
    height: 2.5rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.options:hover{
    background-color: #8F8BE8;
    color: #fff;
    cursor: pointer;
}

.options p{
    position: absolute;
    top: 25%;
}

.popup__modal{
    position: absolute;
    top: 30%;
    left: 35%; 
    z-index: 3; 
    height: 20rem;
    width: 40rem;
}

#join__section{
    background-color: #f8f9fd;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.popup__modal h3{
    position: absolute;
    color: #8F8BE8;
    left: 45%;
    top: 15%;
}

.popup__modal input{
    width: 80%;
    height: 2.5rem;
    padding: 10px;
    position: absolute;
    top: 43%;
    left: 10%;
}

.popup__modal button{
    width: 80%;
    height: 2rem;
    position: absolute;
    top: 55%;
    left: 10%;
}

.close__modal{
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 3px 5px;
    scale: 2;
}

.close__modal:hover, .close__modal:focus{
    background-color: red;
    color: whitesmoke;
    cursor: pointer;
} 

.hidden{
    display: none;
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #787986;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #787986 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  
    @media only screen and (max-width: 600px) {
        textarea{
            width: 85% !important;
        }
    
        #share__btn img{
            height: 25px;
        }
    
        .options{
            height: 2.5rem;
            width: 7rem;
        }

        .popup__modal{
            height: 20rem;
            width: 20.5rem;
            top: auto;
            left: auto;
        }

        .popup__modal h3{
            left: 35%;
        }
      }